.preview {
  cursor: pointer;
  padding: 1rem;
  border-radius: 16px; }
  .preview .title {
    margin-bottom: 16px;
    color: #5c5c5c; }
  .preview .content {
    overflow: hidden;
    max-height: 3rem;
    overflow-wrap: break-word;
    text-overflow: ellipsis; }
  .preview:hover {
    box-shadow: 2px 2px 4px 2px rgba(30, 30, 30, 0.1); }

.previewGhost {
  cursor: pointer;
  padding: 1rem; }
  .previewGhost .title {
    margin-bottom: 16px;
    width: 33%;
    background: linear-gradient(270deg, #bababa, #fafafa);
    background-size: 400% 400%;
    -webkit-animation: loadingAnimation 4s ease infinite;
    -moz-animation: loadingAnimation 4s ease infinite;
    -o-animation: loadingAnimation 4s ease infinite;
    animation: loadingAnimation 4s ease infinite; }
  .previewGhost .content {
    height: 3rem;
    width: 75%;
    background: linear-gradient(270deg, #bababa, #fafafa);
    background-size: 400% 400%;
    -webkit-animation: loadingAnimation 4s ease infinite;
    -moz-animation: loadingAnimation 4s ease infinite;
    -o-animation: loadingAnimation 4s ease infinite;
    animation: loadingAnimation 4s ease infinite; }
    .previewGhost .content:after {
      position: absolute;
      height: 4px;
      width: 75%;
      margin-top: calc(1.5rem - 2px);
      margin-left: -1rem;
      content: " ";
      background-color: #fff; }

@-webkit-keyframes loadingAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes loadingAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.preview ~ .preview, .preview ~ .previewGhost, .previewGhost ~ .previewGhost, .previewGhost ~ .preview {
  margin-top: .5rem; }
