// Custom fonts: League Spartan and Inter UI
@import './fonts/stylesheet.css';
@import url('https://rsms.me/inter/inter-ui.css');
@import '~antd/dist/antd.css';
@import './lib/fluidType.scss';

$min_width: 400px;
$max_width: 764px;
$min_font: 18px;
$max_font: 21px;

html {
  box-sizing: border-box;
	height: 100%;
	font-smooth: antialiased;
  text-rendering: optimizeLegibility;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  padding: 0;
  font-size: inherit !important;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
}

.ant-layout-content {
  padding: 0;
}

.ant-layout-footer {
  text-align: center;
}

.text-overview {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 0;
}

.text-pagination{
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

.neoblog-logo {
  font-family: 'League Spartan', sans-serif;
  font-size: 24px;
  color: #5c5c5c;
  text-decoration: none;
  
  .green {
    color: #8bc34a;
  }
  
  &:hover, &:active, &:visited, &:focus {
    color: #5c5c5c;
    text-decoration: none;
  }
}

.neo-logo {
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 4px 4px 6px;
  margin-top: 12px;

  border: 1px solid #5c5c5c;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

  transition: border-color .15s ease-in-out;

  svg {
    height: 24px;
    line-height: 64px;
    fill: #5c5c5c;

    transition: fill .15s ease-in-out;
  }

  &:hover {
    border-color: #8bc34a;

    svg { fill: #8bc34a; }
  }
}
