.text-content {
  max-width: 34rem;
  margin: auto;
  padding: 2rem 1rem;
  word-wrap: break-word;
  color: #5c5c5c;

  h1 {
    font-family: 'League Spartan';
    margin-bottom: 1em;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  pre { 
    padding: 16px;
    background-color: #5c5c5c;
    color: #fafafa;
    border-radius: 16px;

    code {
      max-width: 100%;
      display: inline-block;
      white-space: normal;
      overflow-wrap: break-word;      
    }
  }

  p > code, li > code {
    background-color: #e8e8e8;
  }

  .article {
    .identicon {
      float: left;
      margin-right: 32px;
      img {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
      }
    }

    .info {
      span, a {
        display: block;
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.84);
      }

      a:hover, a:active {
        text-decoration: underline;
      }
    }

    margin-bottom: 48px;
  }
}
